Body{
background: #177E89;
overflow-x: hidden;
}
.clear{
    clear: both;
}
.maincont{
    width: 90%;
    margin: 0 auto;
}

.container1{
    height: 100vh;
    width: 100vw;
    
}

#press{
    position: absolute;
    top: 39%;
    left: 89%;
    transform: translate(-50%,-50%);
    width: 15vh;
    transform: rotate(25deg);
}

h1{
    font-family: 'Anton', sans-serif;
    font-size: 80px;
    color: white;
}

h2{
    font-family: 'Antonio', sans-serif;
    font-size: 35px;
}
.white{
    color: white;
}
.yellow{
    color: #f4c95b;
}

.container {
    position: relative;
    height: 100vh;
}

.centered-element {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#lamp{ 
float: right; 
left: 65%;
top: 0; 
height: 175vh;
}

.knopje{
    position: absolute;
    top: 50%;
    left: 89%;
    transform: translate(-50%,-50%);
    width: 15vh;
}

p{
    font-family: 'Antonio', sans-serif;
    font-size: 25px;
    color: white;
    line-height: 45px;
}

h3{ 
    font-family: 'Anton', sans-serif;
    font-size: 80px;
    color: white;
    width: 803px;
    line-height: 120px;
    position: relative;
}

.arrow{
    width: 300px;
    float: left;
    margin-left: 300px;
    margin-top: 120px;
}

.clear{
    clear: both;
}
.eerste-text{
    float: left;
    margin-top: 80px;
    margin-left: 50px;
    max-width: 810px;
}

.ik{
    margin-top: 50px;
    float: left;
    width: 375px;
}

.text1{
    margin-top: 25px;
    max-width: 810px;
    position: relative;
}

.mijnwerkcontainer h3{
    font-size: 40px;
    margin: 0 auto;
    width: 60%;
    text-align: center;
    margin-top: 80px;
}


/* carousel */
.maincont2{
    width: 80%;
    margin: 0 auto;
}

.container {
    height: 100vh;
    width: 80vw;
}
.angle-left,
            .angle-right {
                position: absolute;
                top: 28%;
                width: 30px;
                padding: 30px;
                cursor: pointer;
                opacity: 50%;
            }
            
            .angle-left {
                left: -80px;
            }
            
            .angle-right {
                right: -80px;
            }
            
            .slick-dots li button:before {
                font-size: 50px;
            }
            
            .mijnwerk .mijnwerk2 {
                width: 100%;
                margin: 0 25px;
                cursor: grab;
            }
            
            .mijnwerk2 img {
                width: 100%;
                margin-bottom: 26px;
                border-radius: 20px;
            }
            
            .mijnwerk2 h5 {
                text-align: left;
                font-size: 33px;
                font-weight: bold;
                margin-bottom: 10px;
                font-family: 'Antonio', sans-serif;
                letter-spacing: 0px;
                color: white;
            }
            
            .mijnwerk2 p {
                line-height: 27px;
                margin-bottom: 20px;
                color: #fff;
                font-size: 20px;
            }
            
            .mijnwerk2 button {
                position: relative;
                background: #fff;
                color:black;
                border: none;
                font-family: 'Antonio', sans-serif;
                height: 60px;
                width: 120px;
                font-size: 20px;
                /* font-weight: normal;
                padding: 12px 18px; */
                cursor: pointer;
                border-radius: 8px;
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                line-height: 20px;
                padding-bottom: 5px;
            }
            
            .mijnwerk .line {
                width: 500px;
                margin: 50px 0 50px 200px;
            } 
            
        



/* responisve */

@media screen and (max-width: 1376px) {
    .eerste-text {
        max-width: 500px;
        margin-top: 10px;
        }
    }
    @media screen and (max-width: 1029px) {
        .eerste-text {
            max-width: 100%;
            text-align: center;
            margin-left: 0px;
            }

            .ik{
                float: none;
                display: block;
                margin: 0 auto;
                margin-top: 50px;
                
            }

            .arrow{
                
                padding-left: 160px;
            }
            
    
            #press{
                left: 80%;
                transform: rotate(-25deg);
            }
    }

    @media screen and (max-width: 883px) {
        .knopje{
            
            top: 20%;
            
        }

        #press{
            top: 9%;
        }
        .arrow{
            display: block;
            float: none;
            margin: 0 auto;

            margin-top: 50px;
            padding-left: 120px;
            position: relative;
        }
        h3{
            font-size: 50px;
            line-height: 70px;
        }
        .mijnwerk{
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;
        margin-top: 40px;
        }
        .een{
            margin: 0 auto; 
            margin-top: 40px;   
    }
    }

    @media screen and (max-width: 750px) {

        .text1{
            margin-top: 25px;
            width: 100%;
            text-align: center;
        }
    }

    @media screen and (max-width: 668px) {
h3{
    clear: left;
    float: none;
    margin-top: 600px;
    width: 100%;
    text-align: center;
    
}
.een{
   width: 300px;
}
.text1{
    float: none;
    text-align: center;
}
#lamp{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    
}

.knopje{
    left: 75%;
    
}

#press{
    left: 60%;
}
    }


    @media screen and (max-width: 510px) {

.arrow{
    width: 200px;
}
p{
    font-size: 20px ;
    line-height: 35px;
}     
h1{
    font-size: 70px;
    
}   
h2{
    font-size: 35px;
}

.ik{
    width: 350px;
}


    }

